.product-container {
    height: auto;
    width: 100%;
    margin: 10px;
}
body{
	overflow-x:hidden;
}
.box-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
h2 {
    text-align: center;
}
.box {
    margin-top: 2%;
	height:auto;	
    width: 400px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
	padding-bottom:30px;
}
.box p {
    padding: 10px;
	text-align:left;
	text-transform:capitalize;
}
.box img {
    width: 150px;
    height: 150px;
}
.box button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.box button:hover {
    background-color: royalblue;
}
footer {
    margin-top: 2%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.social-media img {
    width: 24px;
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
footer p {
    color: white;
}